<h2 class="mb-4">Dashboard</h2>

<!-- Metrics -->
<div class="row mb-4">
  <div class="col-md-3">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <h6 class="text-muted">Agendamentos de Hoje</h6>
        <h3>{{metrics.todayAppointments}}</h3>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <h6 class="text-muted">Agendamentos da Semanana</h6>
        <h3>{{metrics.weekAppointments}}</h3>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <h6 class="text-muted">Receita de Hoje</h6>
        <h3>{{metrics.todayRevenue | currency:'BRL'}}</h3>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm border-0">
      <div class="card-body">
        <h6 class="text-muted">Total dos Agendamentos</h6>
        <h3>{{metrics.totalAppointments}}</h3>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content mb-3"></div>

<div class="row g-4">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Agendamentos</h5>
        <p class="card-text"> Gerenciar Agendamentos Registrados. </p>
        <button class="btn btn-primary" routerLink="/appointments"> Abrir </button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Clientes</h5>
        <p class="card-text"> Gerenciar clientes registrados. </p>
        <button class="btn btn-primary" routerLink="/customers"> Abrir </button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Profissionais</h5>
        <p class="card-text"> Gerenciar profissionais. </p>
        <button class="btn btn-primary" routerLink="/professionals"> Abrir </button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Productos</h5>
        <p class="card-text"> Gerenciar produtos e serviços. </p>
        <button class="btn btn-primary" routerLink="/products"> Abrir </button>
      </div>
    </div>
  </div>
</div>